/* Set a background color */
body {
  background-color: #474e5d;
}

@media screen and (max-width: 1680px) {

		.timeline.\31 25\25 {
			width: 100%;
			max-width: 87.5em;
			min-width: 70em;
		}

		.timeline.\37 5\25 {
			width: 52.5em;
		}

		.timeline.\35 0\25 {
			width: 35em;
		}

		.timeline.\32 5\25 {
			width: 17.5em;
		}

		.timeline {
			width: 70em;
		}

	}

	@media screen and (max-width: 1280px) {

		.timeline.\31 25\25 {
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.timeline.\37 5\25 {
			width: 67.5%;
		}

		.timeline.\35 0\25 {
			width: 45%;
		}

		.timeline.\32 5\25 {
			width: 22.5%;
		}

		.timeline {
			width: 90%;
		}

	}

	@media screen and (max-width: 980px) {

		.timeline.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.timeline.\37 5\25 {
			width: 75%;
		}

		.timeline.\35 0\25 {
			width: 50%;
		}

		.timeline.\32 5\25 {
			width: 25%;
		}

		.timeline {
			width: 100% !important;
		}

	}

	@media screen and (max-width: 736px) {

		.timeline.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.timeline.\37 5\25 {
			width: 75%;
		}

		.timeline.\35 0\25 {
			width: 50%;
		}

		.timeline.\32 5\25 {
			width: 25%;
		}

		.timeline {
			width: 100% !important;
		}

	}

	@media screen and (max-width: 480px) {

		.timeline.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.timeline.\37 5\25 {
			width: 75%;
		}

		.timeline.\35 0\25 {
			width: 50%;
		}

		.timeline.\32 5\25 {
			width: 25%;
		}

		.timeline {
			width: 100% !important;
		}



.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--right {
  text-align: right;
}

