/* Set a background color */
body {
  background-color: #474e5d;
}

/* The actual timeline with vertical line */
.timeline {
	margin: 0 auto;
	max-width: 750px;
	padding: 25px;
  	font-family: Helvetica, sans-serif;
  	color: #ffffff;
  	display: grid;
  	grid-template-columns: 1fr 3px 1fr;
	}	

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--right {
  text-align: right;
}

