/* Set a background color */
body {
  background-color: #474e5d;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 75px;
  margin: 0 auto;
  padding: 50px;
  font-family: Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--right {
  text-align: right;
}

