/* Set a background color */
body {
  background-color: #474e5d;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  font-family: Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
}

